@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply relative w-full overflow-x-hidden min-h-screen py-4;
}

.menu-close {
  @apply -right-3/4;
}

.menu-open {
  @apply right-0;
}

.navbar {
  @apply px-4 pt-8 pb-4 sm:bg-trans-white font-work-sans;
}

.mobile-right-side {
  @apply grid-cols-1 flex justify-end items-center sm:flex lg:hidden;
}

.mobile-menu-content {
  @apply absolute top-0 w-9/12 sm:w-1/2 h-screen bg-yellow flex justify-start items-center gap-1 flex-col px-2 py-4  ease-in-out duration-500 z-10;
}

.mobile-menu-link {
  @apply w-full text-end p-2 text-purple font-bold;
}

.mobile-menu-special-link {
  @apply w-full text-end p-2 border border-purple bg-purple text-yellow font-bold;
}

.desktop-navbar-content {
  @apply grid-cols-1 hidden lg:flex lg:justify-end lg:items-center lg:gap-4 lg:tracking-wide lg:leading-4 lg:text-yellow;
}

.desktop-navbar-content-wallet-button {
  @apply border border-yellow p-3 bg-trans-white hover:bg-yellow hover:text-purple ease-in-out duration-500;
}

.hero-section-title {
  @apply text-5xl md:text-6xl text-white font-oxanium font-semibold text-center md:text-start xl:text-7xl md:leading-relaxed lg:leading-relaxed xl:leading-relaxed;
}

.hero-section-buttons-wrapper {
  @apply flex justify-between md:justify-start align-middle mt-5;
}

.hero-section-explore-btn {
  @apply bg-yellow border border-yellow text-purple font-work-sans font-semibold py-3 px-16 md:mr-6 hover:bg-purple hover:text-yellow ease-in-out duration-500;
}

.hero-section-create-btn {
  @apply bg-trans-white border border-yellow text-white font-work-sans font-semibold py-3 px-16 hover:bg-white hover:text-purple hover:border-white ease-in-out duration-500;
}

.hero-section-bid-info {
  @apply absolute top-4 left-1/2 transform -translate-x-1/2 flex justify-around align-middle w-11/12 bg-slightly-trans-white shadow shadow-box-shadow-trans-white backdrop-blur-md font-oxanium font-semibold text-white py-3;
}

.hero-section-image-bid-button {
  @apply bg-yellow text-purple border border-yellow px-10 font-bold text-lg font-work-sans hover:bg-purple hover:border-purple hover:text-yellow ease-in-out duration-500;
}

.live-auctions-title {
  @apply text-3xl text-white font-oxanium font-bold z-10 relative w-fit before:content-[''] before:absolute before:top-1/2 before:-left-4 before:w-14 before:h-14 before:bg-auction-purple before:border-2 before:border-solid before:border-auction-purple before:rounded-full before:transform before:-translate-y-1/2 before:-z-10;
}

.sponsors-wrapper {
  @apply grid grid-cols-4 gap-4 align-top justify-items-stretch;
}

.sponsor {
  @apply col-span-2 md:col-span-1 justify-self-center;
}

#auctions-swiper {
  width: 100%;
  height: 620px;
  position: initial;
}

.slide-card {
  @apply w-full h-full p-6 bg-art-purple;
}

.art-card-top {
  @apply h-4/6 bg-cover bg-center bg-no-repeat relative;
}

.art-timer {
  @apply absolute bottom-0 left-0 bg-art-linear-effect;
}

.art-timer-text {
  @apply text-white font-work-sans text-lg px-9 py-3 font-semibold;
}

.art-card-bottom {
  @apply h-2/6 mt-4;
}

.art-card-creator-text {
  @apply text-white font-work-sans font-semibold text-left ml-2;
}
.art-card-creator-text > span {
  @apply text-gray-400 font-medium text-sm;
}

.art-card-heart-icon {
  @apply text-lg text-gray-400 mr-2 cursor-pointer;
}

.art-card-bid-button {
  @apply text-white text-lg font-work-sans border border-bid-button-border w-full py-4 mt-4 font-semibold bg-bid-button-bg hover:border-bid-button-bg hover:bg-white hover:text-art-purple transition duration-500 ease-in-out;
}

.swiper-btn {
  @apply mr-3 text-2xl bg-white text-purple w-10 h-10 rounded-full flex justify-center items-center;
}

.dashed-line {
  @apply col-span-8 lg:col-span-1 w-0 h-36 border border-dashed border-purple-stroke m-auto relative after:absolute after:content-['♦'] after:-bottom-4 after:left-1/2 after:-translate-x-1/2 after:text-purple-stroke lg:-rotate-90;
}

.popular-collections-title {
  @apply text-3xl text-white font-oxanium font-bold z-10 relative w-fit before:content-[''] before:absolute before:top-1/2 before:-left-4 before:w-14 before:h-14 before:bg-popular-red before:border-2 before:border-solid before:border-popular-red before:rounded-full before:transform before:-translate-y-1/2 before:-z-10;
}

.art-card-creator-text {
  @apply text-white font-work-sans font-semibold text-left ml-2;
}

.art-card-creator-text > span {
  @apply text-gray-400 font-medium text-sm;
}

#collections-swiper {
  width: 100%;
  height: 420px;
  position: initial;
}

.collection-card-top {
  @apply h-5/6 bg-cover bg-center bg-no-repeat relative;
}

.collection-card-bottom {
  @apply h-1/6 mt-4;
}

#explore-swiper {
  width: 100%;
  height: 620px;
  position: initial;
}

.creator-card {
  @apply col-span-2 md:col-span-1 bg-creator-purple flex justify-start items-center p-6 shadow-creator-card-shadow;
}

.creator-card-text {
  @apply text-xl text-white font-semibold font-work-sans ml-3;
}

.vertical-line {
  @apply w-0 h-full bg-transparent border border-white ml-auto;
}
